NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_SOROBAN_RPC_URL=
NEXT_PUBLIC_HORIZON_URL=
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_RESOLVE_CONTRACT_ID=
NEXT_PUBLIC_INDEXER_API_URL=http://localhost:3080
NEXT_PUBLIC_SETTLEMENT_TOKEN_ID=
